* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  
  }

body{
    background: linear-gradient(to right top, #24242473,#24242473), url(../images/inicio_sesion/fondo_inicio.jpg);
}

p, h2{
    color: white;
}

/* #------------------------------------- HEADER -------------------------------------# */
.boton-volver{
    display: inline-flex;
    background-color: #9f3647;
    margin: 1.5rem 0 0 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 50ms ease;
    text-decoration: none;
}

.boton-volver:hover{
    border: solid white 2px;
}

.fa-arrow-left{
    margin-top: 0.25rem;
}

.boton-volver p{
    color: white;
    margin-left: 0.5rem;
}

/* #------------------------------------- HEADER -------------------------------------# */

/* #------------------------------------- CAJA INICIAR SESIÓN -------------------------------------# */

main {
    display: flex;
    justify-content: center;
}

.box-iniciarsesion{
    display: flex;
    position: absolute;
    top: 15%;
    min-width: 30vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid #9f3647;
}

.box-iniciarsesion h2{
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
}

.form-password, .form-usuario{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    border: 2px solid #9f3647;
    background-color: #2e2d2d;
}

.form-password:focus, .form-usuario:focus{
    color: white;
}

.text-datosIncorrectos{
    display: none;
}

.text-datosIncorrectos-mostrar{
    display: block;
    color: rgb(226, 69, 69);
}

.text-datosIncorrectos{
    display: none;
    color: rgb(226, 69, 69);
}

.olvidar-contraseña{
    margin-bottom: 1rem;
}

.boton-enviar{
    background-color: #9f3647;
    color: white;
    font-weight: 600;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: 2px solid #ffffff;
    margin-bottom: 2rem;
}

.boton-enviar:hover{
    cursor: pointer;
}

.boton-registrarse{
    color: white;
    padding: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
    background-color: #9f3647;
    border-radius: 1rem;
    border: 2px solid #ffffff;
    text-decoration: none;
}

/* #------------------------------------- CAJA INICIAR SESIÓN -------------------------------------# */





